<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <!-- 手动实现双向绑定 -->
      <input type="text" :value="message" @input="inputChange" />

      <!-- 使用 v-model指令实现双向绑定 -->
      <input type="text" v-model="message" />

      <label for="acccount">
        账号：<input type="text" id="acccount" v-model="acccount" />
      </label>
      <label for="password">
        密码：<input type="text" id="password" v-model="password" />
      </label>
      <button @click="showLoginData">登录</button>

      <h2>{{message}}</h2>
    </div>

    <script src="../lib/vue.js"></script>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            message: "Hello Vue",
            acccount: "",
            password: "",
          };
        },
        methods: {
          inputChange(event) {
            this.message = event.target.value;
          },
          changemessage(event) {
            this.message = event.target.value;
          },
          showLoginData() {
            console.log(this.acccount);
            console.log(this.password);
          },
        },
      });

      app.mount("#app");
    </script>
  </body>
</html>
